Q1. List any five functions of the pandas library with execution.

Ans: here are five common functions in pandas library along with their executions:

(1) read_csv(): This function is used to read data from a CSV file and create a pandas DataFrame. Here is an example:

In [1]:
import pandas as pd

df = pd.read_csv('services.csv')

df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

(2) describe(): This function is used to generate descriptive statistics of a pandas DataFrame. Here is an example:

In [2]:
import pandas as pd

df = pd.DataFrame({
    'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]
})

df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

(3) groupby(): This function is used to group data in a pandas DataFrame by one or more columns. Here is an example:

In [3]:
import pandas as pd

df = pd.DataFrame({
    'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Charlie'],
    'Age' :[25, 30, 35, 40, 45],
    'Salary':[50000, 60000, 70000, 80000, 90000]
})

grouped_data = df.groupby('Name')['Salary'].mean()

grouped_data

Name
Alice      65000.0
Bob        60000.0
Charlie    80000.0
Name: Salary, dtype: float64

(4) merge(): This function is used to merge two pandas DataFrames based on one or more common columns. Here is an example:

In [4]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Salary': [50000, 60000, 70000]})

merged_data = pd.merge(df1, df2, on='ID')

merged_data

   ID     Name  Salary
0   2      Bob   50000
1   3  Charlie   60000

(5) pivot_table(): This function is used to create a pivot table from a pandas DataFrame. Here is an example:

In [5]:
import pandas as pd

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Charlie'],
                   'Month': ['January', 'February', 'January', 'February', 'January'],
                   'Salary': [50000, 60000, 70000, 80000, 90000]})

pivoted_table = pd.pivot_table(df, index='Name', columns='Month', values='Salary', aggfunc='sum')

pivoted_table

Month    February   January
Name
Alice     80000.0   50000.0
Bob       60000.0       NaN
Charlie       NaN  160000.0

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

Ans: You can use the 'reset_index()' function to reset the index of the DataFrame and then modify the new index as desired.

In [6]:
import pandas as pd

def reindex_df(df):
    # reset the index of the DataFrame
    df = df.reset_index()
    # modify the new index to start at 1 and increment by 2 for each row
    df.index = df.index * 2 + 1
    # return the modified DataFrame
    return df


# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# call the reindex_df function to modify the index
new_df = reindex_df(df)

# print the original and modified DataFrames
print(df)
print(new_df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   index  A  B  C
1      0  1  4  7
3      1  2  5  8
5      2  3  6  9

In this function, the reset_index() function is used to reset the index of the DataFrame, which creates a new column called "index" with the old index values. Then, the index attribute of the DataFrame is modified to start at 1 and increment by 2 for each row. Finally, the modified DataFrame is returned.

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [31]:
import pandas as pd 

df = pd.DataFrame({
    'Values' : [10, 20, 30, 40, 50]
})

In [41]:
def test(x):
    return x[0:3].sum()
df.apply(test,axis=0)

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [3]:
import pandas as pd

def Count_Words(Text):
    return len(Text.split())

df = pd.DataFrame({
    'Text': ["I am a Data Scientist", "I am a Web Developer", "I'm a frontend Developer"]
})

df['Word_Count'] = df['Text'].apply(Count_Words)

In [4]:
df

                        Text  Word_Count
0      I am a Data Scientist           5
1       I am a Web Developer           5
2  I'am a frontend Developer           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans:
In the context of the Pandas library in Python, DataFrame.size and DataFrame.shape are both methods used to obtain information about the dimensions of a DataFrame. However, they provide different pieces of information:

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame, respectively.

In other words, DataFrame.size returns a single integer value representing the total number of elements in the DataFrame, while DataFrame.shape returns a tuple of two integers representing the number of rows and columns in the DataFrame.

Here's an example to illustrate the difference:

In [5]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

size = df.size

shape = df.shape

print(size)  
print(shape)

6
(3, 2)

Q6. Which function of pandas do we use to read an excel file?

In [8]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB 1.1 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:


import pandas as pd


# read excel file
df = pd.read_excel("file_example_XLS_100.xls")

df.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In this code, filename.xlsx is the name of the Excel file that we want to read .The read_excel() function returns a pandas DataFrame object that contains the data from the specified sheet. You can then manipulate and analyze the data using pandas DataFrame methods.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

Ans:
       Here's a Python function that uses the split() method to split each email address at the '@' symbol and extracts the username part.
       
      You can then call this function on your Pandas DataFrame df to create a new column 'Username' that contains only the username part of each email address:

In [9]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('4')[0])
    
    return df


df = pd.DataFrame({'Email':['emmysingh467@gmail.com', 'amitkumar498@gmail.com', 'swetasingh432@gmail.com']})

df = extract_username(df)

print(df)

                     Email    Username
0   emmysingh467@gmail.com   emmysingh
1   amitkumar498@gmail.com   amitkumar
2  swetasingh432@gmail.com  swetasingh

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [3]:
import pandas as pd

def select_rows(df):
    
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)].copy()
    return selected_rows

data = {
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
}

df = pd.DataFrame(data)

new_df = select_rows(df)

print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [4]:
def calculate_stats(df):
    values = df['Values']
    mean = values.mean()
    median = values.median()
    std_dev = values.std()
    
    return mean, median, std_dev


df = pd.DataFrame({'Values' : [1,2,3,4,5,6,7,8]})
mean, median, std_dev = calculate_stats(df)
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

Mean: 4.5
Median: 4.5
Standard Deviation: 2.449489742783178

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [7]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
                            '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10'],
                   'Sales': [10, 12, 8, 15, 11, 9, 13, 14, 10, 12]})

df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2022-01-01     10      10.000000
1  2022-01-02     12      11.000000
2  2022-01-03      8      10.000000
3  2022-01-04     15      11.250000
4  2022-01-05     11      11.200000
5  2022-01-06      9      10.833333
6  2022-01-07     13      11.142857
7  2022-01-08     14      11.714286
8  2022-01-09     10      11.428571
9  2022-01-10     12      12.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [8]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df


df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df.loc[mask]
    return selected_rows


df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-05', '2023-01-25', '2023-03-12'],
                   'Value': [10, 20, 30, 40, 50]})

selected_rows = select_rows_between_dates(df)
print(selected_rows)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
3 2023-01-25     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans: To use the basic functions of pandas, the first and foremost library that needs to be imported is the pandas library itself. The pandas library provides data structures and functions for efficient data manipulation and analysis.

You can import the pandas library in Python using the following import statement:

import pandas as pd

In this statement, pd is an alias or shorthand for the pandas library. It is a common convention to import pandas as pd to make the code shorter and easier to read.

Once you have imported the pandas library, you can use its functions and data structures, such as DataFrames and Series, to perform various data operations, including reading and writing data, data cleaning, filtering, grouping, aggregation, and more.

In addition to pandas, you may also need to import other libraries depending on your specific data analysis tasks. For example, you might import numpy for numerical computations or matplotlib for data visualization. However, to use the basic functions of pandas, importing pandas itself is sufficient.